.App {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  border: 1px solid #222;
  margin: 20px;
}
.content {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media only screen and (min-width: 800px) {
  .App {
    /* background-color: aqua; */
    flex-direction: row;
    justify-content: center;
  }
}
